
<div class="fh5co-blog-style-1">
      <div class="container">
        <div class="row p-b">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Recent Posts</h2>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Here's the three most recent things I thought correctly or incorrectly were worthy of committing to the permanency of the internet:</p>
          </div>
        </div>
        <div class="row p-b">
<!-- Blog card template -->
<% @recent.each do |p| %>
          <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
            <div class="fh5co-post wow fadeInLeft"  data-wow-duration="1s" data-wow-delay="1.1s">
              <div class="fh5co-post-image">
                <%= link_to post_path(p.id) do %>
                <div class="fh5co-overlay"></div>
                <% end %>
                <div class="fh5co-category"><a href="#"><%= p.category %></a></div>  
                <!-- <img src="images/img_same_dimension_2.jpg" alt="Image" class="img-responsive"> -->
                <%= image_tag( post_thumb(p.id), :class => "img-responsive") %>
              </div>
              <div class="fh5co-post-text">
                <h3><%= link_to p.title , {:action => 'show', :controller => 'posts', :id => p.id }%></h3>
                <p class="text"><%= p.text %></p>
              </div>
              <div class="fh5co-post-meta">
                <a href="#"><i class="icon-chat"></i> 33</a>
                <a href="#"><i class="icon-clock2"></i><%= time_ago_in_words(p.created_at) %></a>
              </div>
            </div>
          </div>

<% end %>
 <div class="clearfix visible-sm-block"></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
          <%= link_to 'View All Posts', blog_path, class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>